@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Developer"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/Tiago-Mota09">Tiago Mota Git-Hub</a>
</address>